<h1>{{user.nickname}}</h1>
<h1>{{user.displayName}}</h1>
<h1>{{user.user_id}}</h1>
<h1>{{user.nickname}}</h1>
<h1>{{test}}</h1>


<head>
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    <title>{{title}}</title>
</head>

 
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded">
                                                <img class="card-img-top rounded-circle" src={{user.picture}}
                                                    style="height: 140px; width: 140px" alt="Profile Photo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.nickname}}</h4>
                                            <p class="mb-0">{{user.displayName}}</p>
                                            
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <div class="text-muted"><small>Joined 12 Oct 2019</small></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div id="fullName">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div id="userName">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div id="email">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <div class="form-group">
                                                                <label>About</label>
                                                                <textarea class="form-control" rows="5"
                                                                    placeholder="My Bio"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>