<head>
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    <title>{{msg}}</title>
</head>

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/profile">Fundeed</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/user">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Connect</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
  </div>
</nav>
{{!-- Add Break --}}
<br><br>

{{!-- Content --}}
<div class="wrapper">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body" class="pageBody">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded">
                                                <img class="card-img-top rounded-circle" src={{user.picture}}
                                                    style="height: 140px; width: 140px" alt="Profile Photo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ourUser.firstName}}
                                                {{ourUser.lastName}}</h4>
                                            <p class="mb-0">{{user.displayName}}</p>
                                            <div class="mt-2">
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <div class="text-muted"><small>Joined 12 Oct 2019</small></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>First Name</label>
                                                                <input id="firstName" class="form-control" type="text"
                                                                    name="firstName" placeholder={{ourUser.firstName}}
                                                                    value={{ourUser.firstName}}>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Last Name</label>
                                                                <input id="lastName" class="form-control" type="text"
                                                                    name="lastName" placeholder={{ourUser.lastName}}
                                                                    value={{ourUser.lastName}}>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input id="username" class="form-control" type="text"
                                                                    name="userName" placeholder={{ourUser.email}}
                                                                    value={{ourUser.email}}>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Date of Birth</label>
                                                                <input id="birthdate" type="date" class="form-control"
                                                                    id="exampleInputDOB1" placeholder="Date of Birth" value={{ourUser.birthdate}}>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input id="email" class="form-control" type="text"
                                                                    name="email" placeholder={{ourUser.email}}
                                                                    value={{ourUser.email}}>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Zip Code</label>
                                                            <input id="zip" class="form-control" type="text"
                                                                name="zipCode" placeholder={{ourUser.zipcode}}
                                                                value={{ourUser.zipcode}}>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Radius</label>
                                                                <input id="radius" class="form-control" type="text"
                                                                    name="Radius" placeholder={{ourUser.searchRadius}}
                                                                    value={{ourUser.searchRadius}}>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <div class="form-group">
                                                                <label>About</label>
                                                                <textarea id="bio" class="form-control" rows="5"
                                                                    placeholder={{ourUser.bio}}></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <div class="mb-2"><b>Change Password</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Current Password</label>
                                                                <input class="form-control" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>New Password</label>
                                                                <input class="form-control" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Confirm <span
                                                                        class="d-none d-xl-inline">Password</span></label>
                                                                <input class="form-control" type="password"
                                                                    placeholder="••••••"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="custom-controls-stacked px-2">
                                                                <div class="dropdown">
                                                                    <button class="btn btn-secondary dropdown-toggle"
                                                                        type="button" id="dropdownMenuButton"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                        Interests
                                                                    </button>
                                                                    <div class="dropdown-menu"
                                                                        aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item">Technology</a>
                                                                        <a class="dropdown-item">Outdoor Activities</a>
                                                                        <a class="dropdown-item">Indoor Activities</a>
                                                                        <a class="dropdown-item">Photography</a>
                                                                        <a class="dropdown-item">Food</a>
                                                                        <a class="dropdown-item">Nightlife</a>
                                                                        <a class="dropdown-item">Music</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit" id="submit"
                                                            onclick="updateProfile(event)">Save
                                                            Changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{!-- Break --}}
<br><br>

{{!-- Footer --}}
<footer class="page-footer font-small black pt-4">
    <div class="footer-copwright text-center py-3">
        Copyright &copy; FunDeed 2019
    </div>
</footer>

{{!-- JQUERY --}}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>

{{!-- Search Function --}}
<script src="js/profile.js"></script>